async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
Pyrogram==2.0.106
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp==2024.07.09
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
